@media only screen and (max-width:769px){
    .tabarea {
        width: 83vw;
        height: 100%;
    }
    .demopages-tabs {
        height: 65vh;
    }
}

@media only screen and (min-width: 769px) {
    .tabarea {
        width: 380px;
        height: 240px;
    }
    .demopages-tabs {
        height: 40%
    }
}

.tabarea {
    color: black;
    background-color: white;
    transition: all 0.5s ease-in-out;
    position: relative;
    border: 1px white solid;
}
.nav {
    position: fixed;
    z-index: 1;
}

.navarea {
    /* visibility: hidden; */
    position: relative;
    width: 100vw;
    height: 100vh;
}


.nav_background {
    width: 100vw;
    height: 100vh;
    position:fixed;
    display: flex;
}

.nav_background_stripes {
    width: 25vw;
    height: 100vh;
    top: 1000vh;
    position: relative;
    background-color: black;
    border: 1px grey solid;
    border-bottom: none;
    transition: top 0.25s ease-in-out, border 1s ease-in-out;
}


.name {
    /* position: absolute; */
    font-size: 10vw;
    position: relative;
    font-size: 4vw;
    left: 8%;
    font-family: Helvetica Neue;
    opacity: 0;
    transform: scale(1.2, 1);
    color: transparent;
    -webkit-text-stroke: 1px white;
    transition: opacity 1s;
    pointer-events: none;
    margin-bottom: -4vh;
    transition: all 1s;
}

.name:hover {
    color: white;
}

.demopages-tabs {
    opacity: 0;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 90%;
    left: 50%;
    transform: translateX(-50%);
    /* height: 65vh; */
    transition: all 0.5s ease-in-out;
    pointer-events: none;

}

.tab {
    padding: 5px;
}

.title {
    opacity: 0;
    position: relative;
    right: -71%;
    font-size: 6vw;
    font-weight: bold;
    font-family: Helvetica Neue;
    transform: scale(1.2, 0.9);
    color: transparent;
    -webkit-text-stroke: 1px white;
    transition: opacity 1s;
    pointer-events: none;
    padding-bottom: 3vh;
    padding-top: 2.1vh;
}



.tabarea:hover {
    color: white;
    background-color: transparent;
}

.tabarea a {
    display: block;
}

.tab-content {
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: inline-block;
    white-space: nowrap;
}

.sub{
    color: grey;
}

.resume {
    opacity: 0;
    position: relative;
    width: 83%;
    left: 50%;
    top: 0%;
    transform: translateX(-50%);
    height: 10%;
    transition: all 1s;
    pointer-events: none;

}

.resumewrapper {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: transparent;
    border: 1px solid white;
    transition: all 0.5s ease-in-out;
}

.resumewrapper:hover {
    background-color: white;
}

.resumewrapper:hover h1{
    color: black;
}

.resume h1{
    position: absolute;
    top: 50%;
    left: 50%;
    display: inline-block;
    font-size: 2vw;
    text-decoration: none;
    color: white;
    transform: translate(-50%, -50%);
    transition: all 0.5s ease-in-out;
}