*{
   
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {
    background-color: black;
    font-family: sans-serif;
}

.intro {
    height: 100vh;
}

.intro video {
    height: 100%;
    width: 100%;
    object-fit: cover;
}


.introname--pane {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-decoration:none;
    white-space: nowrap;
    font-weight: bold;
}

@media only screen and (max-width: 769px) {
    .introname--pane {
        transform: scale(0.7);left: -7%;top: 45%;}
}

.introname,
.introname--sub {
    display: inline-block;
    position: relative; 
}

.introname {
    color: white;
    font-size: 5vmax;
}
.introname--sub {
    font-size: 3vmax; 
    color: transparent;
    -webkit-text-stroke: 1px white;display: block;
}

.introname::after,
.introname--sub::after {
    background-color: white;
    content: " ";
    width: 100%;
    height: 100%;
    position: absolute;
    /* transform: translateY(-100%); */
    right: 0;
    top: 0%;
}

.introname::after {
    animation: openup 0.7s ease-in 3200ms forwards;
}


.introname--sub::after {
    animation: openup 0.7s ease-in 3500ms forwards;

}

@keyframes openup {
    0% { width: 100%; 
        background-color: rgb(255, 255, 255);
        outline: 1px solid rgb(0, 0, 0);}
    100% { width: 0%; 
        background-color: rgb(255, 255, 255);
        outline-color: rgb(255, 255, 255);
        outline-width: 0px;}
}

.box {
    background-color: white;
    position: absolute;
    top: 0%;
    right: 0%;;
    bottom: 100%;
    width: 27%;
    overflow: hidden;
    animation: openclose 2s ease-in-out 4s ;
}

@keyframes openclose {
    0% {bottom: 100%}
    25% {bottom: 0%}
    75% {bottom: 0%}
    1000% {bottom: 100%}
}
.box--title {
    -webkit-text-stroke: 1px black;
    position: absolute;
    left: -270.1%;
    top: 0;
}

.intro ul {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: small;
    font-weight: bold;
    color: white;
}

section {
    color: white;
}

section h1 {
    padding-top: 100px;
    text-align: center;
    font-size: 70 px;
}



.CV {
    background-color: black;
    color: white;
    padding-top: 100px;
    text-align: center;
}

.CVTEXT {
    background-color: black;
    display: grid;
    grid-template-columns:0.5fr 1fr;
    grid-template-areas:
    "grid1 grid2";
}

.grid1 {
    padding-top: 100px;
    grid-area: grid1;
    justify-self: center;
}

.grid2 {
    padding-top: 100px;
    grid-area: grid2;
    font-weight: bold;
    justify-self: left;
}

.SCHULBILDUNG1 {
    padding-top: 100px;
    grid-area: grid1;
    justify-self: center;
}

.SCHULBILDUNG2 {
    padding-top: 100px;
    grid-area: grid2;
    font-weight: bold;
    justify-self: left;
}

.SPRACHKENTNISSE1 {
    padding-top: 100px;
    grid-area: grid1;
    justify-self: center;
}

.SPRACHKENNTISSE2 {
    padding-top: 100px;
    grid-area: grid2;
    font-weight: bold;
    justify-self: left;
}
.BERUFSERFAHRUNG1 {
    padding-top: 100px;
    grid-area: grid1;
    justify-self: center;
}

.BERUFSERFAHRUNG2 {
    padding-top: 100px;
    grid-area: grid2;
    font-weight: bold;
    justify-self: left;
}

.BF2 {
    padding-top: 100px;
    grid-area: grid2;
    font-size: medium;
    font-weight: bold;
    justify-self: left;
    white-space: pre-line;
}


.AK1 {
    padding-top: 100px;
    grid-area: grid1;
    justify-self: center;
}

.AK2 {
    padding-top: 100px;
    grid-area: grid2;
    font-size: medium;
    font-weight: bold;
    justify-self: left;
    white-space: pre-line;
}

.BK1 {
    padding-top: 100px;
    grid-area: grid1;
    justify-self: center;
}

.BK2 {
    padding-top: 100px;
    grid-area: grid2;
    font-size: medium;
    font-weight: bold;
    justify-self: left;
    white-space: pre-line;
}


.mailname{
    grid-area: mail;
    justify-self: center;
    position: relative;
    left: -30px;
    transform: rotate(270deg);
    padding-top: 300px;
    font-size: small;
    color: gray;
    font-weight: bold;
    text-decoration:none;
}

#CS50 {
    position: relative;
    bottom: 1fr;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }
#SQL {
    position: relative;
    bottom: 1fr;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }

.left {
    width: 23em;
}


.github_pane {
    height: 100vh;
    width: 100vw;
    position: relative;
}

.calendar {
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 50%;
    border: 0px solid #DDDDDD ! important;cursor: pointer;
}

.table-column {
    display: table-cell ! important;
    width: 1% ! important;
    padding-right: 10px ! important;
    padding-left: 10px ! important;
    vertical-align: top ! important;
    background: radial-gradient(circle, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 51%, rgba(0,0,0,0) 100%) ! important;
    }
    
.contrib-column {
    padding: 15px 0 ! important;
    text-align: center ! important;
    border-left: 0px solid #ddd ! important;
    border-top: 0px solid #ddd ! important;
    font-size: 11px ! important;
    }

.contrib-number {
    line-height: 1.3em ! important;
    font-size: 24px ! important;
    display: block ! important;
    color: white ! important;
    text-transform: uppercase ! important;
    }
.text-muted {
    color: white;
}

.header {
    font-weight: bold;
    font-size: 24vw;
    color: transparent;
    position: absolute;
    top: -6vh;
    left: 0;-webkit-text-stroke: 2px rgb(69, 69, 69);pointer-events: none;
    }

@media only screen and (max-width:769px){
    .github_pane{
        display: none;
    }
}

@media only screen and (min-width:769px){
    .github_pane{
        display: block;
    }
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
  }